<div class="home-feed">
	<ul class="list-group">
		<% @user_feed.each do |post| %>
			<li class="list-group-item">
				<%= link_to post.user.name, post.user, :style => 'font-weight:bold; color:rgb(54, 88, 153)' %><br>
				<%= post.content %><br>
				<% if current_user.likes?(post.id) %>
					<%= link_to "Unlike", unlike_path(:post_id => post.id), method: :delete, class: "like-button" %>
				<% else %>
					<%= link_to "Like", like_path(:post_id => post.id), method: :post, class: "like-button" %>
				<% end %>
				<%= link_to "Comment", "#", method: :post, class: "like-button" %><br>
				<span class="likes">
					<% unless post.likes.count == 0 %>
						<%= post.likes.count %> <%= "person".pluralize(post.likes.count) %> <%= like_or_likes(post.likes.count) %> this<br>
					<% end %>
				</span>
				<span class="date">
					<%= "posted #{post.formatted_date}" %>
				</span>
				<!-- Comments -->
				<%= render partial: 'shared/comments', locals: {post: post} %>
				<%= render partial: 'shared/comment_form', locals: {post: post} %>
			</li>
		<% end %>
	</ul>
</div>