<% provide(:title, "Home") %>
<% if user_signed_in? %>
	<h1>Hello, <%= current_user.name %></h1>
	<%= render 'shared/post_form' %>
	<ul class="list-group">
		<% @user_feed.each do |post| %>
			<li class="list-group-item">
			<%= link_to post.user.name, post.user, :style => 'font-weight:bold; color:rgb(54, 88, 153)' %><br>
			<%= post.content %><br>
			<% if current_user.likes?(post.id) %>
				<%= link_to "Unlike", unlike_path(:post_id => post.id), method: :delete, class: "like-button" %>
			<% else %>
				<%= link_to "Like", like_path(:post_id => post.id), method: :post, class: "like-button" %>
			<% end %>
			<span class="date">
				<% unless post.likes.count == 0 %>
					<%= post.likes.count %> <%= "person".pluralize(post.likes.count) %> <%= like_or_likes(post.likes.count) %> this
				<% end %>
				<br><%= "posted #{post.formatted_date}" %>
			</span>
			</li>
		<% end %>
	</ul>
<% else %>
	<h1>Welcome to Facebook</h1>
<% end %>