<script>
  $('.comment-button').click(function() {
      $("#comment_form").toggle();
  });
</script>

<div class="user-feed">
	<ul class="list-group">
		<% @user.posts.each do |post| %>
			<li class="list-group-item">
				<div class="feed-name">
					<%= gravatar_for(post.user, 40) %>
					<%= link_to post.user.name, post.user %><br>
				</div>
				<%= post.content %><br>
				<% if current_user.likes?(post.id) %>
					<%= link_to "Unlike", unlike_path(:post_id => post.id), method: :delete, class: "like-button" %>
				<% else %>
					<%= link_to "Like", like_path(:post_id => post.id), method: :post, class: "like-button" %>
				<% end %>
				<%= link_to "Comment", "#", class: "comment-button" %><br>
				<span class="likes">
					<% unless post.likes.count == 0 %>
						<%= post.likes.count %> <%= "person".pluralize(post.likes.count) %> <%= like_or_likes(post.likes.count) %> this<br>
					<% end %>
				</span>
				<span class="date">
					<%= "posted #{post.formatted_date}" %>
					<% if current_user == @user %>
						<%= link_to "(delete this post)", posts_path(:id => post.id), method: :delete %>
					<% end %>
				</span>
				<!-- Comments -->
				<%= render partial: 'shared/comments', locals: {post: post} %>
				<%= render partial: 'shared/comment_form', locals: {post: post} %>
			</li>
		<% end %>
	</ul>
</div>