<div class="row">
	<h1><%= @user.name %></h1>
</div>
<div class="row">
	<div class="col-md-8" id="profile">
		<% if current_user == @user %>
			<%= render 'shared/post_form' %>
		<% end %>
			<%= render 'user_feed' %>
	</div>
	<!-- FRIENDS LIST -->
	<div class="col-md-4">
		<%= render 'friends' %>
	</div>
</div>
	<!-- Friend requests, extract out to seperate page -->
<% if current_user == @user %>
	<h3>Friend Requests</h3>
	<ul class="user-list">
		<% @user.inverse_friendships.pending.each do |friendship| %>
			<li><%= link_to friendship.user.name, user_path(friendship.user) %>
					<%= link_to "(Accept)", friendship_path(:id => friendship.id), method: :patch %>
					<%= link_to "(Deny)", friendship_path(:id => friendship.id), method: :delete %>
			</li>
		<% end %>
	</ul>
<% end %>
