<h1><%= @user.name %></h1>
<% if current_user == @user %>
	<%= render 'shared/post_form' %>
<% end %>

<!-- LIST POSTS FOR USER HERE -->
<div class="user-timeline">
	<ul>
		<% @user.posts.each do |post| %>
			<li><%= post.content %><br></li>
		<% end %>
	</ul>
</div>

<h2>Friends</h2>
<ul class="user-list">
	<% @user.friendships.accepted.each do |friendship| %>
		<li><%= link_to friendship.friend.name, user_path(friendship.friend) %>
			<% if current_user == @user %>
				<%= link_to "(remove friend)", friendship_path(:id => friendship.id), method: :delete %>
			<% end %>
		</li>
	<% end %>
</ul>

<ul class="user-list">
	<% @user.inverse_friendships.accepted.each do |friendship| %>
		<li><%= link_to friendship.user.name, user_path(friendship.user) %>
			<% if current_user == @user %>
				<%= link_to "(remove friend)", friendship_path(:id => friendship.id), method: :delete %>
			<% end %>
		</li>
	<% end %>
</ul>

<% if current_user == @user %>
	<h3>Friend Requests</h3>
	<ul class="user-list">
		<% @user.inverse_friendships.pending.each do |friendship| %>
			<li><%= link_to friendship.user.name, user_path(friendship.user) %>
					<%= link_to "(Accept)", friendship_path(:id => friendship.id), method: :patch %>
					<%= link_to "(Deny)", friendship_path(:id => friendship.id), method: :delete %>
				<% end %>
			</li>
	</ul>
<% end %>