<h1><%= @user.name %></h1>
<% if current_user == @user %>
	<%= render 'shared/post_form' %>
<% end %>
<!-- USER FEED -->
<ul class="list-group">
	<% @user.posts.each do |post| %>
		<li class="list-group-item">
			<%= post.content %><br>
			<% if current_user.likes?(post.id) %>
				<%= link_to "Unlike", unlike_path(:post_id => post.id), method: :delete, class: "like-button" %>
			<% else %>
				<%= link_to "Like", like_path(:post_id => post.id), method: :post, class: "like-button" %>
			<% end %>
			<%= link_to "Comment", "#", method: :post, class: "like-button" %><br>
			<span class="likes">
				<% unless post.likes.count == 0 %>
					<%= post.likes.count %> <%= "person".pluralize(post.likes.count) %> <%= like_or_likes(post.likes.count) %> this<br>
				<% end %>
			</span>
			<span class="date">
				<%= "posted #{post.formatted_date}" %>
				<% if current_user == @user %>
					<%= link_to "(delete this post)", posts_path(:id => post.id), method: :delete %>
				<% end %>
			</span>
		</li>
	<% end %>
</ul>
<!-- FRIENDS LIST -->
<h2>Friends</h2>
<ul class="user-list">
	<% @user.friendships.accepted.each do |friendship| %>
		<li><%= link_to friendship.friend.name, user_path(friendship.friend) %>
			<% if current_user == @user %>
				<%= link_to "(remove friend)", friendship_path(:id => friendship.id), method: :delete %>
			<% end %>
		</li>
	<% end %>
</ul>
<ul class="user-list">
	<% @user.inverse_friendships.accepted.each do |friendship| %>
		<li><%= link_to friendship.user.name, user_path(friendship.user) %>
			<% if current_user == @user %>
				<%= link_to "(remove friend)", friendship_path(:id => friendship.id), method: :delete %>
			<% end %>
		</li>
	<% end %>
</ul>
<!-- Friend requests, extract out to seperate page -->
<% if current_user == @user %>
	<h3>Friend Requests</h3>
	<ul class="user-list">
		<% @user.inverse_friendships.pending.each do |friendship| %>
			<li><%= link_to friendship.user.name, user_path(friendship.user) %>
					<%= link_to "(Accept)", friendship_path(:id => friendship.id), method: :patch %>
					<%= link_to "(Deny)", friendship_path(:id => friendship.id), method: :delete %>
			</li>
		<% end %>
	</ul>
<% end %>