<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= render 'layouts/rails_default' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
      <div class="container">
      <!-- needs an error message div -->
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %> 
      <% end %>
      <%= yield %>
    </div>
      <%= render 'layouts/footer' %>
  </body>
</html>
